.dropdown .btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
    background-color: var(--light-gray);
    height: 3rem;
    border-bottom: 1px solid var(--gray);
    padding-right: 1rem;
    font-size: 0.85rem;
    font-weight: 550;
    cursor: pointer;
    color: rgb(60, 7, 112);
}

.dropdown .btn:hover {
    background-color: #e8d4f3;
}

.dropdown .dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    font-size: 0.9rem;
    height: 3.5rem;
    padding-left: 1rem;
}

.dropdown .dropdown-item:hover {
    background-color: rgb(0, 0, 0, 0.1);
    cursor: pointer;
}

.dropdown .title {
    text-align: left;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.dropdown .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--black);
}

.dropdown .dur {
    margin-top: -0.8rem;
    font-size: 0.8rem;
    color: #7b7e7e;
}