.courses-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  padding: 0px 7vw;
}

.title-all-courses {
  margin-left: 1vw;
  margin-bottom: 3vh;
  color: rgb(60, 7, 112);
}

.courses-page .courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.courses-page .course {
  width: 15vw;
  height: 35vh;
  border-radius: 10px;
  display: inline;
  margin: 1vw;
  margin-bottom: 5vh;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.10);
  overflow-y: hidden;
}

.courses-page .course> :first-child {
  height: 70%;
  position: relative;
  background: linear-gradient(180deg, rgba(242, 234, 245, 0.248) 95%, rgba(219, 63, 255, 1) 150%);
  border-bottom: 2px solid #DB3FFF;
  transition: transform ease 300ms;
}

.courses-page .course> :first-child:hover {
  transform: translate(0, -10px);
}

.courses-page .course-img {
  width: 80%;
  height: 100%;
  position: relative;
}

.courses-page .icon {
  width: 30%;
  height: 30%;
}

.courses-page .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: transparent !important;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.courses-page .icon-container:hover {
  color: white !important;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.courses-page .course> :nth-child(2) {
  width: 100%;
  height: 30%;
}

.courses-page .course> :nth-child(2) p,
h6 {
  margin: 0px 10px !important;
  max-width: 100%;
}

.courses-page .title {
  overflow: hidden;
  font-weight: 500;
  overflow-x: hidden;
  /* white-space: nowrap; */
  padding-top: 10px !important;
  color: rgb(60, 7, 112);

}

.courses-page .description {
  text-align: left;
  padding-top: 10px !important;
  color: var(--gray);
  max-width: 100%;
  text-overflow: ellipsis;
}

.courses-page .duration {
  display: flex;
  justify-content: flex-end;
  color: var(--gray);
  font-size: 0.7rem;
  padding-top: 7px !important;
}

@media (max-width: 768px) {
  .courses-page .course {
    width: 50%;
    /* Adjust the width for smaller screens */
  }
}

@media (max-width: 576px) {
  .courses-page .course {
    width: 100%;
    /* Adjust the width for even smaller screens */
  }
}