.e-right{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.e-right > :nth-child(1){
    background-color: var(--light-gray);
    width: 95%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    border: 1px solid var(--gray);
}

