@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.profile-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-child {
    border-radius: 10px;
    width: 87%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.user-pic-info-conatiner {
    background: linear-gradient(#8404fc, #dc10fc);
    height: 60%;
    width: 25%;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.user-avatar {
    margin-top: 7vh;
    background-color: white;
}

.name-surname {
    color: white;
    font-size: 23px;
    margin-top: 50px;
}

.create-course {
    background-color: red;
    height: 20vh;
    border-radius: 10px;
    display: flex;
    margin-top: 45%;
    margin-left: -44%;
    padding: auto;
}

.user-pic-info-conatiner p {
    margin-top: -10px;
}

.user-info-container {
    width: 73%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}

.profile-title {
    height: 11%;
    text-align: left;
}

.profile-title h2 {
    margin-left: 15px;
}

.user-info {
    height: 8%;
    display: flex;
    overflow: hidden;
    text-align: left;
}

.name-info {
    width: 25%;
    float: left;
}

.name-info p {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

.name {
    width: 50%;
    overflow: hidden;
    text-align: left;
}

.name p {
    font-size: 17px;
    ;
}